{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if max_users_reached %}
    <p>User registrations are disabled at this time.</p>
  {% else %}
    <form method="post">
      <label for="username">Username</label>
      <input name="username" id="username" autocomplete="off" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Register">
    </form>
  {% endif %}
{% endblock %}
