{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Download Stock{% endblock %}</h1>
{% endblock %}

{% block content %}
  <img src="{{ details['logo_url'] }}" style="width:100px;margin-top:16px" />
  <h1>{{ details['name'] }} ({{ details['symbol'] }})</h1>
  <a href="{{ details['web_url'] }}" target="_blank" rel="noopener noreferrer">
    {{ details['web_url'] }}
  </a>
  <div>
  <div style="margin-bottom:4rem;">
    <div style="width:300px;">
      <p>{{ date_of_search }}</p>
      <p>
        Opening Price: <b style="float:right">{{ details['open_price'] }}</b>
      </p>
      <p>Market Cap: <b style="float:right">{{ details['market_cap'] }}</b></p>
      <p>Industry: <b style="float:right">{{ details['industry'] }}</b></p>
    </div>
    <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
      {{ details['description'] }}
    </p>
  </div>
  <form action="download" method="post" id="download-form">
    <label for="period">Data Period:</label>
    <select name="period" id="period">
      {% for option in period_options %}
        <option value="{{option[0]}}">{{option[1]}}</option>
      {% endfor %}
    </select>
    <label for"interval">Data Interval:</label>
    <select name="interval" id="interval">
      {% for option in interval_options %}
        <option value="{{option[0]}}">{{option[1]}}</option>
      {% endfor %}
    </select>
    <input type="hidden" name="ticker" id="ticker" value="{{ ticker_symbol }}">
    <input type="submit" value="Download" id="download">
  </form>
{% endblock %}
